{% extends "GloryCategoryBundle::layout.html.twig" %}

{% block stylesheets %}
    <link href="{{asset("assets/components/jstree/dist/themes/default/style.min.css")}}" rel="stylesheet"/>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{asset("assets/components/jstree/dist/jstree.min.js")}}"></script>
{% endblock %}

{% block content %}
    <div class="box">
        <div class="box-body">

        </div>
    </div>
{% endblock %}